main {
  min-height: 80vh;
  background-color: #f3f2ef;
}

.header {
  background-color: #044255;
  /* color: white; */
}
/* .header .logo { */
/* font-family: 'Syne Tactile', cursive; */
/* background: #fdbd69; */
/* color: #fdbd69; */
/* } */
/* .header .logo :hover { */
/* font-family: 'Syne Tactile', cursive; */
/* background: #fdbd69; */
/* color: black; */
/* } */
#logo {
  color: #fdbd69;
  font-family: 'Audiowide', cursive;
  font-weight: 100;
  font-size: 40px;
  transition: transform 1.2s;
}
#logo:hover {
  transform: scale(1.2);
}
.helmet {
  font-family: 'Audiowide', cursive;
}

#username {
  color: white;
  align-items: center;
  font-family: 'Merriweather', serif;
}
#adminmenu {
  color: red;
  font-family: 'Merriweather', serif;
}
#cart {
  color: white;
  transition: transform 0.8s;
}
#cart:hover {
  transform: scale(1.2);
}
/* .header .username {
  color: #fdbd69;
} */
.cart {
  color: #fdbd69;
}

.footer {
  background-color: #f3f2ef;
  width: 100%;
}

.search__button {
  background-color: #fdbd69;
  color: black;
}
.align__center {
  display: flex;
  align-items: center;
}
h3 {
  padding: 1rem 0;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
.rating span {
  margin: 0.1rem;
}
.progress-bar {
  height: 5px;
  background: red;
  margin-top: 20px;
}
.product__image {
  width: 100%;
  max-height: 80vw;
  object-fit: cover;
}
/* carousel */
.carousel {
  background-color: #044255;
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fdbd69;
  font-family: 'Merriweather', serif;

  font-weight: 100;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
.StripeCheckout {
  background-color: #fdbd69;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}
